<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <strong>Name:</strong>
    <%= @artist.name %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= @artist.genre %>
  </p>

  <%= link_to 'Edit', edit_artist_path(@artist), class: 'waves-effect waves-light btn teal' %> |
  <%= link_to 'Back', artists_path, class: 'waves-effect waves-light btn blue' %>

</div>