<%= form_with(model: record_label, local: true) do |form| %>
  <% if record_label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record_label.errors.count, "error") %> prohibited this record_label from being saved:</h2>

      <ul>
      <% record_label.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="actions">
    <%= form.submit class: "waves-effect waves-light btn red", style: "color: white"%>
  </div>
<% end %>
