<p id="notice"><%= notice %></p>

<div class="container">
  <h1>All Record Labels</h1>

  <%= form_tag(search_record_labels_url, method: 'get') do %>
    <%= csp_meta_tag %>
    <%= label_tag(:q, 'Search for:') %>
    <%= text_field_tag(:q) %>
    <%= submit_tag('Search') %>
  <% end %>

  <br>

  <h5><strong>Search Results (Click to Filter)</strong></h5>
  <p id="complete" style="font-style: italic"></p>

  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @record_labels.each do |record_label| %>
      <tr>
        <td><%= record_label.name %> | ID: <%= record_label.id %></td>
        <td><%= link_to 'Show', record_label, class: 'waves-effect waves-light btn blue' %></td>
        <td><%= link_to 'Edit', edit_record_label_path(record_label), class: 'waves-effect waves-light btn green' %></td>
        <td><%= link_to 'Destroy', record_label, method: :delete, data: {confirm: 'Are you sure?'}, class: 'waves-effect waves-light btn red' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Record Label', new_record_label_path, class: "waves-effect waves-light btn black" %>

  <script type="text/javascript" charset="utf-8">
      const search = document.getElementById("q");
      let  newData = [];

      // AJAX Call
      $.ajax({ 
          url: '/record_labels.json',
          type: 'GET',
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          success: (response) => {
              response.forEach(label => {
                  newData.push(label.name);
              });
          }
      });


      search.addEventListener("keyup", (e) => {
          const searchValue = search.value;

          newData.forEach(title => {
              if (title === searchValue) {
                  document.querySelector("#complete").textContent = title;
              }
          })
      });

  </script>

</div>
