<%= form_with(model: album, local: true) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field checkboxes">
    <%= form.label :artist_id, class: "checkbox-label" %>
    <%= form.collection_check_boxes(:artist_ids, @artists, :id, :name) %>
  </div>

  <hr>

  <div class="field">
    <%= form.label :band %>
    <%= form.text_field :band, required: true%>
  </div>

<!--  <div class="field">-->
    <%#= form.label :artist_id %>
    <%#= form.collection_select(:artist_ids, @artists, :id, :name) %>
<!--  </div>-->

  <div class="field">
    <%= form.label 'Song Title' %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre, required: true %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, required: true %>
  </div>

  <div class="field">
    <%= form.label :plays %>
    <%= form.number_field :plays, required: true %>
  </div>

  <div class="field">
    <%= form.label :record_label_id %>

    <%# Rails 4 Form Selection Syntax %>
    <%#= form.select(:record_label_id, options_from_collection_for_select(RecordLabel.all, :id, :name), :include_blank => "Please Select Record Label Below...") %>

    <%# Rails 5 Form Selection Syntax (Shorter) %>
    <%= form.collection_select :record_label_id, RecordLabel.all, :id, :name, include_blank: 'Please Select Record Label Below...' %>
  </div>


  <br>

  <div class="actions">
    <%= form.submit class: 'waves-effect waves-light btn red'%>
  </div>
<% end %>
