<p id="notice"><%= notice %></p>

<div class="container">
  <h1>All Albums</h1>

  <table>
    <thead>
    <tr>
      <th>Band</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Year</th>
      <th>Plays</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.band %></td>
        <td><%= album.title %></td>
        <td><%= album.genre %></td>
        <td><%= album.year %></td>
        <td><%= album.plays %></td>
        <td><%= time_ago_in_words(album.created_at) %></td>
        <td><%= time_ago_in_words(album.updated_at) %></td>
        <td><%= link_to 'Show', album, class: 'waves-effect waves-light btn blue' %></td>
        <td><%= link_to 'Edit', edit_album_path(album), class: 'waves-effect waves-light btn green' %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: {confirm: 'Are you sure?'}, class: 'waves-effect waves-light btn red' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Album', new_album_path, class: 'waves-effect waves-light btn teal lighten-2' %>
</div>

<%= render'layouts/footer' %>