<nav>
  <div class="nav-wrapper red">

      <div class="container">
        <%= link_to 'Album Tracker App', root_path, class: 'brand-logo' %>
      </div>
      <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul> -->

      <%# Custom Links %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "All Albums", root_path %></li>
        <li><%= link_to "New Album", new_album_path %></li>
        <li><%= link_to "All Record Labels", record_labels_path %></li>
        <li><%= link_to "New Record Label", new_record_label_path %></li>
        <li><%= link_to "All Artists", artists_path %></li>
        <li><%= link_to "New Artist", new_artist_path %></li>
        <li><%= link_to "Contact Us", new_contact_path %></li>
      </ul>

      <ul id="mobile-demo" class="sidenav">
        <li><%= link_to "All Albums", root_path %></li>
        <li><%= link_to "New Album", new_album_path %></li>
        <li><%= link_to "All Record Labels", record_labels_path %></li>
        <li><%= link_to "New Record Label", new_record_label_path %></li>
        <li><%= link_to "All Artists", artists_path %></li>
        <li><%= link_to "New Artist", new_artist_path %></li>
        <li><%= link_to "Contact Us", new_contact_path %></li>
      </ul>
  </div>
</nav>